@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.testr {
  border: 1px solid red;
}

.text-danger {
  color: red;
}
.bg-primary {
  background: #3870ff;
}
.text-primary {
  color: #3870ff;
}

.rightContainer {
  width: 60%;
  /* background-color: #09468b; */
}

.rightContainer .glassCard {
  width: 641px;
  height: 287px;
  left: 929px;
  top: 460px;
  background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.4) 0%,
      rgba(255, 255, 255, 0) 100%
    ),
    linear-gradient(
      180deg,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 0.15) 56.25%
    );
  backdrop-filter: blur(3.5px);
}
